<!-- <div class="row">
    <div class="col-md-6">
        <form class='form form-group'>
    <h2>Please sign in</h2>
    <label for='inputEmail' class='sr-only'>Email Address</label>
    <input type='email' id='inputEmail' class='form-control' placeholder='Email address' required autofocus>
    <label for='inputPassword' class='sr-only'>Password</label>
    <input type='password' id='inputPassword' class='form-control' placeholder='Password' required>
    <div class='checkbox'>
        <label>
            <input type='checkbox' value='remember-me'> Remember me
        </label>
    </div>
    <button class='btn btn-lg btn-primary btn-block' type='submit'>Sign in</button>
</form>
    </div>

</div> -->


<h1 class="text-center">Virtual Trial Room</h1>
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-6 col-md-4">

      <div class="card border-info text-center">
        <div class="card-header">
          Sign in to continue
        </div>
        <div class="card-body">
          <form class="form-signin">
            <input type="text" class="form-control mb-2" placeholder="Email" ng-model="id" required autofocus>
            <input type="password" class="form-control mb-2" placeholder="Password" ng-model="pass" required>
            <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" ng-click="signin()">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>